.top-line{
    width: 100%;
    text-align: center;
    background-color:#2b1603; 
    color: #fffaf6;
}

nav {

    h1 {
        position: relative;
        text-align: end;
        font-weight: bold;
        line-height: 80%;
        font-size: 1.6rem;

        user-select: none;

        span {
            line-height: 80%;
            font-size: 1rem;
        }
    }

    h1::after {
        content: "";
        position: absolute;
        height: 60px;
        width: 2px;
        transform: translate(10px, -35px);
        background-color: #2b1603;
    }

    .img-fluid {
        max-height: 70px;
    }

    .activo{
        color: #2b1603;
        border-bottom: solid 1px
    }
}
